 .u-section-1 {
  background-image: url("images/jiaSplash3.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 626px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 395px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1078px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.875rem;
  font-family: SFPRODISPLAYBOLD;
  font-weight: 700;
  margin: 48px 61px 0 89px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 48px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 770px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_00841.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_00781.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_0104.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_0053.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_0036.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/IMG_01681.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: SFPRODISPLAYBOLD;
  margin: 48px auto 24px;
  padding: 10px 79px 10px 78px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 634px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1453px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1115px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 47px;
    margin-right: 165px;
    margin-bottom: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2438px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2059px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 27px;
    margin-right: auto;
    margin-bottom: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2011px;
  }

  .u-section-2 .u-text-1 {
    letter-spacing: -1px;
    font-size: 1.25rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1745px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 40px;
    margin-bottom: 29px;
    padding-right: 47px;
    padding-left: 45px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 192px;
}

.u-section-3 .u-group-1 {
  width: 491px;
  --radius: 10px;
  height: auto;
  min-height: 134px;
  margin: 29px auto 0 35px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-family: SFPRODISPLAYBOLD;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 28px 234px 0 38px;
}

.u-section-3 .u-image-1 {
  width: 212px;
  height: 53px;
  margin: -40px 38px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 2px;
  margin: 0 1px;
}

.u-section-3 .u-group-2 {
  width: 491px;
  --radius: 10px;
  height: auto;
  min-height: 134px;
  margin: -134px 35px 29px auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-family: SFPRODISPLAYBOLD;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-right: 222px;
    margin-left: 50px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 51px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-group-2 {
    min-height: 132px;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 152px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: 219px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 107px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 258px;
}

.u-section-4 .u-list-1 {
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 120px;
  grid-gap: 0px 0px;
  grid-auto-columns: 25%;
}

.u-section-4 .u-container-layout-1 {
  padding: 3px 8px 1px;
}

.u-section-4 .u-icon-1 {
  height: 115px;
  width: 115px;
  background-image: none;
  margin: -3px auto 0;
  padding: 18px;
}

.u-section-4 .u-container-layout-2 {
  padding: 3px 8px 1px;
}

.u-section-4 .u-icon-2 {
  height: 115px;
  width: 115px;
  background-image: none;
  margin: -3px auto 0;
  padding: 18px;
}

.u-section-4 .u-container-layout-3 {
  padding: 3px 8px 1px;
}

.u-section-4 .u-icon-3 {
  height: 115px;
  width: 115px;
  background-image: none;
  margin: -3px auto 0;
  padding: 18px;
}

.u-section-4 .u-container-layout-4 {
  padding: 3px 8px 1px;
}

.u-section-4 .u-icon-4 {
  height: 115px;
  width: 115px;
  background-image: none;
  margin: -3px auto 0;
  padding: 18px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: SFPRODISPLAYBOLD;
  text-transform: none;
  margin: -5px 298px 0 582px;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: SFPRODISPLAYBOLD;
  margin: -29px 13px 0 868px;
}

.u-section-4 .u-text-3 {
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: SFPRODISPLAYBOLD;
  text-transform: none;
  margin: -24px 583px 0 298px;
}

.u-section-4 .u-text-4 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 700;
  font-family: SFPRODISPLAYBOLD;
  margin: -24px 855px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 57px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 200px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -96px;
    margin-right: 235px;
    margin-left: 445px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -24px;
    margin-right: 58px;
    margin-left: 692px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -51px;
    margin-right: 446px;
    margin-left: 234px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -15px;
    margin-right: 661px;
    margin-left: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 450px;
    grid-auto-columns: 50%;
  }

  .u-section-4 .u-text-1 {
    margin-right: 410px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 89px;
    margin-left: 449px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -273px;
    margin-right: 50px;
    margin-left: 410px;
  }

  .u-section-4 .u-text-4 {
    margin: -24px 410px 60px 50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 654px;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-text-1 {
    width: 260px;
    margin-top: -214px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 211px;
    margin-top: 121px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: 260px;
    margin-top: -364px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: 262px;
    margin-top: -184px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 0;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 705px;
    grid-gap: 0px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 2px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 2px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 2px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 2px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -244px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 152px;
    margin-right: 46px;
    margin-left: 27px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -378px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -209px;
    margin-left: 28px;
    margin-right: 28px;
  }
} .u-section-5 {
  min-height: 464px;
}

.u-section-5 .u-group-1 {
  width: 277px;
  min-height: 195px;
  height: auto;
  background-image: none;
  margin: 228px auto 41px calc(((100% - 1140px) / 2));
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 21px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 457px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 350px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 444px;
  }

  .u-section-5 .u-group-1 {
    width: 482px;
    margin-top: 322px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 677px;
  }

  .u-section-5 .u-group-1 {
    width: 289px;
    min-height: 153px;
    margin-top: 451px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 22px;
  }
}.floatingChat {
    position: fixed;
    bottom: 20px;
    left: 14px;
    display: flex;
	flex-direction: column;
	z-index: 999999
}
.menu-collapse .u-nav-link svg {
  color: white;	
}@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}@font-face {
  font-family: 'SFPRODISPLAYMEDIUM';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}