 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 164px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 6px;
  margin: 115px auto 16px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 76px;
    margin-bottom: 18px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 18175px;
}

.u-section-2 .u-image-1 {
  height: 1471px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  height: 1601px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-3 {
  height: 1573px;
  margin-top: -7px;
  margin-bottom: 0;
}

.u-section-2 .u-image-4 {
  height: 1613px;
  margin-top: -7px;
  margin-bottom: 0;
}

.u-section-2 .u-image-5 {
  height: 1620px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-6 {
  height: 1620px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-7 {
  height: 1620px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-8 {
  height: 1620px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-9 {
  height: 1620px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-10 {
  height: 1620px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-11 {
  height: 1620px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 1305px;
  }

  .u-section-2 .u-image-2 {
    height: 1361px;
  }

  .u-section-2 .u-image-3 {
    height: 1339px;
    margin-top: 0;
  }

  .u-section-2 .u-image-4 {
    height: 1304px;
    margin-top: 0;
  }

  .u-section-2 .u-image-7 {
    height: 1270px;
  }

  .u-section-2 .u-image-8 {
    height: 1105px;
  }

  .u-section-2 .u-image-9 {
    height: 1225px;
  }

  .u-section-2 .u-image-10 {
    height: 1380px;
    margin-top: -10px;
  }

  .u-section-2 .u-image-11 {
    height: 1295px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    height: 1034px;
  }

  .u-section-2 .u-image-2 {
    height: 1044px;
  }

  .u-section-2 .u-image-3 {
    height: 1033px;
  }

  .u-section-2 .u-image-4 {
    height: 1013px;
  }

  .u-section-2 .u-image-5 {
    height: 1038px;
  }

  .u-section-2 .u-image-6 {
    height: 938px;
    margin-top: -7px;
  }

  .u-section-2 .u-image-7 {
    height: 1027px;
    margin-top: 1px;
  }

  .u-section-2 .u-image-8 {
    height: 905px;
    margin-top: 8px;
  }

  .u-section-2 .u-image-9 {
    height: 960px;
    margin-top: -10px;
  }

  .u-section-2 .u-image-10 {
    height: 1075px;
    margin-top: 0;
  }

  .u-section-2 .u-image-11 {
    height: 927px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 18176px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -8px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 436px;
  }

  .u-section-2 .u-image-2 {
    height: 485px;
  }

  .u-section-2 .u-image-3 {
    height: 472px;
  }

  .u-section-2 .u-image-4 {
    height: 481px;
    margin-top: -6px;
  }

  .u-section-2 .u-image-5 {
    height: 486px;
  }

  .u-section-2 .u-image-6 {
    height: 512px;
    margin-top: 0;
  }

  .u-section-2 .u-image-7 {
    height: 471px;
    margin-top: 0;
  }

  .u-section-2 .u-image-8 {
    height: 438px;
    margin-top: 0;
  }

  .u-section-2 .u-image-9 {
    height: 425px;
    margin-top: 0;
  }

  .u-section-2 .u-image-10 {
    height: 527px;
  }

  .u-section-2 .u-image-11 {
    height: 441px;
  }
}.menu-collapse .u-nav-link svg {
  color: white;	
}