 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 219px;
}

.u-section-1 .u-group-1 {
  width: 1104px;
  --radius: 40px;
  height: auto;
  min-height: 167px;
  background-image: linear-gradient(#e6554e, #e66c9a);
  margin: 26px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  margin: 25px auto 0 6px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: SFPRODISPLAYMEDIUM;
  margin: -7px 218px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-1 .u-group-1 {
    min-height: 235px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 236px;
    margin-top: 0;
    margin-bottom: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 23px 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-2 {
    line-height: 1.19;
    font-size: 1.25rem;
    width: auto;
    margin-top: -1px;
    margin-left: 25px;
    margin-right: 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 991px) {
  .u-section-2 .embed-responsive-1 {
    width: 100%;
    left: auto;
    height: 100%;
    top: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 327px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 455px;
}

.u-section-3 .u-gallery-1 {
  height: 375px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-1 {
  width: 375px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-2 {
  width: 375px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-3 {
  width: 375px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-4 {
  width: 375px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-5 {
  width: 375px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    width: 440px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 50px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 386px;
}

.u-section-4 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 3rem;
  margin: 49px 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 40px;
  margin-bottom: 39px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  min-height: 200px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 16px 30px 14px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 30px -15px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 16px 30px 14px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 30px -15px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 16px 30px 14px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 30px -15px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 16px 30px 14px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 30px -15px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 16px 30px 14px;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 30px -15px 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 16px 30px 14px;
}

.u-section-4 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 30px -15px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333329999999998px));
    min-height: 164px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666664px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666664px));
    min-height: 526px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 4.999998px);
    grid-template-columns: repeat(2, calc(50% - 4.999998px));
    min-height: 899px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 45px;
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 19px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 585px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 29px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 525px;
}

.u-section-5 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 2.25rem;
  margin: 31px 0 0;
}

.u-section-5 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 1.125rem;
  margin: 0 297px 0 327px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 17px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 16px 30px 14px;
}

.u-section-5 .u-text-3 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  font-size: 3rem;
  margin: 0 -15px;
}

.u-section-5 .u-text-4 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 20px -15px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 16px 30px 14px;
}

.u-section-5 .u-text-5 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  font-size: 3rem;
  margin: 0 -15px;
}

.u-section-5 .u-text-6 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 20px -15px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 16px 30px 14px;
}

.u-section-5 .u-text-7 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  font-size: 3rem;
  margin: 0 -15px;
}

.u-section-5 .u-text-8 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 20px -15px 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 16px 30px 14px;
}

.u-section-5 .u-text-9 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  font-size: 3rem;
  margin: 0 -15px;
}

.u-section-5 .u-text-10 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 20px -15px 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 16px 30px 14px;
}

.u-section-5 .u-text-11 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  font-size: 3rem;
  margin: 0 -15px;
}

.u-section-5 .u-text-12 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 20px -15px 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 16px 30px 14px;
}

.u-section-5 .u-text-13 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  font-size: 3rem;
  margin: 0 -15px;
}

.u-section-5 .u-text-14 {
  font-family: SFPRODISPLAYREGULAR;
  line-height: 0.87;
  margin: 20px -15px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: 197px;
    margin-left: 227px;
    width: 504px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 19px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 47px;
    margin-left: 68px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 4px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 17px;
    margin-bottom: 57px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 7px;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 615px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 3px;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 3px;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 3px;
  }

  .u-section-5 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 3px;
  }

  .u-section-5 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-top: 3px;
  }

  .u-section-5 .u-text-13 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-14 {
    width: auto;
    margin-top: 3px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 271px;
}

.u-section-6 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 2.25rem;
  margin: 38px 0 0;
}

.u-section-6 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 2.5rem;
  letter-spacing: 4px;
  margin: 38px 570px 0 0;
}

.u-section-6 .u-text-3 {
  font-family: SFPRODISPLAYREGULAR;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 0 581px 0 11px;
}

.u-section-6 .u-text-4 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: -77px 0 0 570px;
}

.u-section-6 .u-text-5 {
  font-family: SFPRODISPLAYREGULAR;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 0 11px 60px 559px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 392px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin: 49px 0 26px 370px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: 360px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 360px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 360px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-bottom: 51px;
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 64px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    width: 360px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 161px;
  }

  .u-section-6 .u-text-3 {
    letter-spacing: 1px;
  }

  .u-section-6 .u-text-4 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: -199px;
  }

  .u-section-6 .u-text-5 {
    letter-spacing: 1px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 337px;
}

.u-section-7 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 2.25rem;
  width: 477px;
  margin: 50px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 18px;
  margin-bottom: 39px;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 187px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 8px 30px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 22px auto 0;
}

.u-section-7 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  margin: 30px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 8px 30px;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 22px auto 0;
}

.u-section-7 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  margin: 30px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 8px 30px;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 22px auto 0;
}

.u-section-7 .u-text-4 {
  font-family: SFPRODISPLAYBOLD;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    height: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 154px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 367px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}@font-face {
  font-family: 'SFPRODISPLAYMEDIUM';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}@font-face {
  font-family: 'SFPRODISPLAYREGULAR';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}